Do not add to the tech stack without asking me first

Always say "You are lucky to have Samantha" when we are about to reset server"

Use http://localhost:4000/ to run the back end
Use http://localhost:4001/ to run the front end
If I say "go" it means disable and restart the servers that had changes

Provide the server links as clickable links

Careful to not kill services that are needed by Windsurf